<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewOtherDetailViewController</key>
	<dict>
		<key>class</key>
		<string>ViewOtherDetailViewController</string>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>api</string>
			</dict>
			<dict>
				<key>const</key>
				<string>url</string>
			</dict>
		</array>
	</dict>
	<key>api</key>
	<dict>
		<key>class</key>
		<string>ApiController</string>
		<key>args</key>
		<dict/>
	</dict>
	<key>SendMessageViewController</key>
	<dict>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>api</string>
			</dict>
			<dict>
				<key>const</key>
				<string>url</string>
			</dict>
		</array>
		<key>class</key>
		<string>SendMessageViewController</string>
	</dict>
	<key>qr</key>
	<dict>
		<key>class</key>
		<string>QrCodeGenerator</string>
		<key>args</key>
		<array/>
	</dict>
	<key>InitiateQRViewController</key>
	<dict>
		<key>class</key>
		<string>InitiateQRViewController</string>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>qr</string>
			</dict>
			<dict>
				<key>dep</key>
				<string>web</string>
			</dict>
			<dict>
				<key>const</key>
				<string>url</string>
			</dict>
		</array>
	</dict>
	<key>InitiateViewController</key>
	<dict>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>api</string>
			</dict>
			<dict>
				<key>const</key>
				<string>url</string>
			</dict>
		</array>
		<key>class</key>
		<string>InitiateViewController</string>
	</dict>
	<key>MainViewController</key>
	<dict>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>api</string>
			</dict>
			<dict>
				<key>const</key>
				<string>url</string>
			</dict>
		</array>
		<key>class</key>
		<string>MainViewController</string>
	</dict>
	<key>url</key>
	<string>http://www.api.anconaesselmann.com</string>
	<key>LoginViewController</key>
	<dict>
		<key>class</key>
		<string>LoginViewController</string>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>api</string>
			</dict>
			<dict>
				<key>const</key>
				<string>url</string>
			</dict>
		</array>
	</dict>
	<key>FirstLaunchViewController</key>
	<dict>
		<key>class</key>
		<string>FirstLaunchViewController</string>
		<key>args</key>
		<array>
			<dict>
				<key>dep</key>
				<string>web</string>
			</dict>
		</array>
	</dict>
	<key>web</key>
	<dict>
		<key>class</key>
		<string>Web</string>
		<key>args</key>
		<array/>
	</dict>
</dict>
</plist>
